[submodule "Colorize-Your-World"]
	path = MLNet
	url = https://github.com/Lyken17/Colorize-Your-World
[submodule "neural-colorization"]
	path = StylizationNet
	url = git@github.com:zeruniverse/neural-colorization.git
